# Virtual environments
/.venv/
/venv/

# Static files (ignore everything except .gitkeep)
static/files/*
!static/files/.gitkeep

# Python cache
__pycache__/
*/__pycache__/
viz/__pycache__/

# SQLite DB file
processed_readings.db