* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.wrapper {
    margin-right: 2em;
    margin-left: 2em;

    max-width: 1300px;
    padding: 0;
}

#intro {
    display: flex;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin: 10px 25px 10px 0;
    min-width: 220px;
    width: 400px;
}

h3 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.contentWrapper {
    font-family: Arial, sans-serif;
}

.moreText {
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.moreText.hide {
    max-height: 0;
    opacity: 0;
}

.preview {
    position: relative;
}

.preview::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    background: linear-gradient(to bottom, transparent, white);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.preview.collapsed::after {
    opacity: 0.6;
}

.toggleBtn {
    color: blue;
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    display: inline-block;
}

.toggleContainer {
    text-align: right;
    margin-top: 5px;
}

#dataSourceWrapper {
    display: flex;
}

#dataSource {
    display: flex;
}

#dataSource div {
    margin: 0 40px 0 30px;
    display: flex;
    align-items: center;
}

#chartContainer {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
}

#chart {
    display: flex;
    justify-content: center;
    margin: 25px;
}

#chartControl {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 30%;
}

input[type="color" i] {
    padding: 0;
    border: 0;
    width: 35px;
    height: 35px;
    margin: 0;
}

input[type="color"]:disabled {
  filter: grayscale(100%);
  opacity: 0.5; /* optional: makes it look more 'disabled' */
  pointer-events: none; /* ensures it's truly non-interactive */
}

#presetColorsOption,
#customColorsOption {
    display: grid;
    /* justify-content: space-between;
    /* align-items: center; */
    /* margin-top: 55px; */
    grid-template-columns: 800px 250px;
    grid-template-rows: 30px 60px 60px 60px;

    h4 {
        margin: 0;
        min-width: 50px;
        text-align: center;
    }

    button {
        /* max-width: 150px; */
        max-height: 25px;
    }

    .periodNames div,
    .selectorsContainer div {
        width: 70px;
    }
}

#colorDescription {
    justify-content: start;
    display: flex;
    align-items: center;
    margin: 40px 0 25px;
    h4 {
        margin-right: 50px;
    }
}

#customColorsOption {
    grid-template-rows: 75px;
}

.periodNames,
.selectorsContainer {
    display: flex;
    justify-content: space-evenly;
}

.periodNames {
    grid-column: 1/2;
    grid-row: 2/3;

    div {
        display: flex;
        align-items: flex-end;
    }

    p {
        margin: 0;
    }
}

#planNames{
    grid-column: 1/2;
    grid-row: 1/2;
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(9, 60px);
    justify-content: space-evenly;
    
    h4.tou{
        grid-column: 1/4;
    }
    h4.ulo{
        grid-column: 4/8;
    }
    h4.tr{
        grid-column: 8/10;
    }
}

.preset.selectorsContainer {
    grid-column: 1/2;
    grid-row: 3/4;
}

.custom.selectorsContainer {
    grid-column: 1/2;
    grid-row: 4/5;
}

.selectorsContainer div {
    display: flex;
    align-items: center;
}

#presetColorControl {
    grid-column: 2/3;
    grid-row: 3/4;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    *{
        margin: 5px 0;
    }
}

#customColorControl {
    grid-column: 2/3;
    grid-row: 4/5;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: left; */
    align-items: center;
    margin: 0;

}

#loaderContainer {
    /* height: 200px; */
    display: flex;
    align-self: center;
    position: absolute;
    z-index: 2;
}

#loader {

    border: 16px solid #005d555a;
    /* Light grey */
    border-top: 16px solid #005d55;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer{
    height: 100px;
}