* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 1400px;
    padding-right: 10px;
    padding-left: 10px;
}

#intro{
    display: flex;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    color: #333;
    margin: 10px 25px 10px 0;
    min-width: 220px;
    width: 400px;
}

h3{
    margin-bottom: 0;
}

p{
    margin-top: 0;
}

.contentWrapper {
    font-family: Arial, sans-serif;
}

.moreText {
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.moreText.hide {
    max-height: 0;
    opacity: 0;
}

.preview {
    position: relative;
}

.preview::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    background: linear-gradient(to bottom, transparent, white);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.preview.collapsed::after {
    opacity: 0.6;
}

.toggleBtn {
    color: blue;
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    display: inline-block;
}

.toggleContainer {
    text-align: right;
    margin-top: 5px;
}

#dataSourceWrapper{
    display: flex;
}

#dataSource{
    display: flex;
}

#dataSource div{
    margin: 0 40px 0 30px;
    display: flex;
    align-items: center;
}

#chartContainer{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
}

#chart{
    display: flex;
    justify-content: center;
    margin: 25px;
}
#chartControl{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 30%;
}
input[type="color" i]{
    padding: 0;
    border: 0;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
#colorSetup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;

    h4{
        margin: 0;
        min-width: 495px;
    }

    button{
        max-width: 150px;
        max-height: 25px;
    }
}
#colorControl{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-bottom: 15px;

    button, select{
        margin-right: 50px;
    }

    label{
        margin-right: 15px;
    }

    select{
        padding: 0 5px;
    }
}

.tou, .ulo, .tr{
    display: flex;
    align-items: center;

    p{
        min-width: 490px;
        margin: 0;
    }
}

#loaderContainer{
    /* height: 200px; */
    display: flex;
align-self: center;
    position: absolute;
    z-index: 2;
}


#loader {

    border: 16px solid #005d555a; /* Light grey */
    border-top: 16px solid #005d55; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }