<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('hydro_viz') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload</button>
          </form>
        <h3>upload your file here</h3>
        <!-- <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~chris/1638.embed" height="525" width="100%"></iframe> -->

        <h1>Here's a Plotly graph!</h1>
        {{ plot_html|safe }}
        <p>And here's some text after the graph.</p>
    </main>

    <footer>
        <p>&copy; 2025 My Personal Website</p>
    </footer>
</body>
</html>