<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>

<body>
    <h1>Flask File Uploads Tutorial</h1>

    <input type="file" id="xmlFile" name="" accept="xml" multiple />
    <input type="submit" id="submitXml">
    {{ plot_html | safe }}

    <div id="chart"></div>
    <div id="chart-control">
        <button id="prevPeriod">Previous Period</button>
        <label for="period">Choose period:</label>
        <select name="period" id="period"></select>
        <button id="nextPeriod">Next Period</button>
    </div>


    <h2>Select 9 Colors</h2>
    <div class="color-picker-container">
        <!-- Create 9 color pickers -->
        <div class="color-block">
            <label for="color1">Color 1</label>
            <input type="color" id="color1" name="color1" value="#ff0000">
        </div>
        <div class="color-block">
            <label for="color2">Color 2</label>
            <input type="color" id="color2" name="color2" value="#00ff00">
        </div>
        <div class="color-block">
            <label for="color3">Color 3</label>
            <input type="color" id="color3" name="color3" value="#0000ff">
        </div>
        <div class="color-block">
            <label for="color4">Color 4</label>
            <input type="color" id="color4" name="color4" value="#ffff00">
        </div>
        <div class="color-block">
            <label for="color5">Color 5</label>
            <input type="color" id="color5" name="color5" value="#00ffff">
        </div>
        <div class="color-block">
            <label for="color6">Color 6</label>
            <input type="color" id="color6" name="color6" value="#ff00ff">
        </div>
        <div class="color-block">
            <label for="color7">Color 7</label>
            <input type="color" id="color7" name="color7" value="#ffffff">
        </div>
        <div class="color-block">
            <label for="color8">Color 8</label>
            <input type="color" id="color8" name="color8" value="#000000">
        </div>
        <div class="color-block">
            <label for="color9">Color 9</label>
            <input type="color" id="color9" name="color9" value="#808080">
        </div>
    </div>

    <br>
    <button onclick="changeColorScheme()">Choose color scheme</button>

    <pre id="output"></pre>

    <script>
        function changeColorScheme() {
            const colors = [];
            for (let i = 1; i <= 9; i++) {
                const colorValue = document.getElementById(`color${i}`).value;
                colors.push(colorValue);
            }
            document.getElementById('output').textContent = `Selected Colors:\n${colors.join('\n')}`;
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>