<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Flask + React (CDN)</title>
  <!-- React CDN -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
  <div id="root"></div>

  <!-- React App -->
  <script type="text/babel">
    function App() {
      const [msg, setMsg] = React.useState('');

      React.useEffect(() => {
        fetch('/api/message')
          .then(res => res.json())
          .then(data => setMsg(data.message));
      }, []);

      return (
        <div>
          <h1>React + Flask</h1>
          <p>{msg}</p>
        </div>
      );
    }

    const root = ReactDOM.createRoot(document.getElementById('root'));
    root.render(<App />);
  </script>
</body>
</html>
